[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "*"
python-levenshtein = "*"
fuzzywuzzy = "*"
discord-py = "*"
miracle-acl = "*"

[requires]
python_version = "3.6"
